.row {
  width: 75%;
}
.nav {
  padding-left: 12px;
}
.divCard {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  border: none;
}


.example-card {
  max-width: 1000px;
  height: 200px;
  margin-bottom: 8px;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
}


.mat-card-title {
  font-size: 22px;
}

.mat-card-content {
  font-size: 15px;
}


.categoryTexts {
  padding-right: 25px;
  margin-left: 25px;
}

.cardContent>p {
  width: 160px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

