.container {
  width: 1020px;
}

.divCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
}


.example-card {
  max-width: 400px;
  height: 180px;
  margin-bottom: 8px;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
}

.mat-card-title {
  color: #593abc;
  font-size: 22px;
}

.mat-card-content {
  font-size: 15px;
}

.categoryTexts {
  padding-right: 25px;
}

.col-md-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


