<div class="container home">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-6" *ngFor="let category of categData">
      <mat-card class="example-card" [routerLink]="'/category/'+category.id">
        <div class="divCard">
          <div class="categoryIcon">
            <svg-icon src="./assets/{{category.icon}}" [svgStyle]="{'width.px':52}"></svg-icon>
              <!-- <img mat-card-md-image src=".../assets/{{category.icon}}" alt=""> -->
          </div>
          <div class="categoryTexts">
            <mat-card-title-group>
              <mat-card-title>{{category.name}}</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
              {{category.description}}
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
