.container {
  width: 1020px;
}

.divCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.example-card {
  max-width: 500px;
  height: 180px;
  margin-bottom: 8px;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  box-shadow: rgba(139, 125, 163, 0.15) 0px 8px 24px;
}


.mat-card-title {
  color: #593abc;
  font-size: 22px;
}

.mat-card-content {
  font-size: 15px;
}

.categoryIcon {
  margin-left: 40px;
}
.categoryTexts {
  padding-right: 25px;
  margin-left: 50px;
}

.col-md-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


